* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: #e5e5e5;
  font-size: 14px;
}

div {
  width: auto;
  margin: 20px;
}

div ul {
  margin: 20px 0;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  background: #816cc8;
}

button:active {
  background: #6146ba;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
  padding: 2px 6px;
}

div li button:hover {
  background: #d05d5d;
}

div li button:active {
  background: #c13838;
}

button,
p {
  margin: 20px 0;
}
